<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_card' %>
    <%= render 'shared/filter_card' %>
  </div>
  <div class="col-md-8">
    <% cnt = 0 %>
    <% @rounds.each do |r| %>
      <% cnt %= 7 %>
      <% cnt += 1 %>
      <%= render 'shared/round_list', round:r, cnt:cnt %>
    <% end %>
  </div>
</div>
