<h1>New Round</h1>

<div class="row">
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= render 'shared/map' %>
  </div>
</div>

<script>
  $(".nav_menu").removeClass("active");
  $("#new_round").removeClass("hidden").addClass("active"); 
</script>
