<% if rounds.present? %>
  <% rounds.each do |r| %>
    <%= render 'shared/round_list', round: r%>
  <% end %>
<% else %>
  <div>
    <h2><%= I18n.t('users.join_list.empty') %></h2>
  </div>
<% end %>
