<div>
  <!--<div class="map-frame map-frame-animation1"></div>-->
  <!--<div class="map-frame map-frame-animation2"></div>-->
  <!--<div class="map-frame map-frame-animation3"></div>-->
  <div id="map"></div>
</div>