<div>
  <div id="rader-frame"></div>
  <div id="square-frame" class="hidden">
    <div class="outer-shadow"></div>
    <div class="inner-shadow"></div>
  </div>
  <div id="rader-grid"></div>
  <div id="center-cross" ></div>
  <div id="rader"></div>
</div>
