<div id="round-tool" class="tool">
  <button class="btn btn-signup"><span class="glyphicon glyphicon-plus-map"></span> 地図表示ボタン</button>
  <button class="btn btn-signup"><span class="glyphicon glyphicon-plus-facetime-video"></span> オンライン飲み会ボタン</button>
</div>
