<p>
  <strong>Title:</strong>
  <%= round.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= round.description %>
</p>

<p>
  <strong>Start at:</strong>
  <%= round.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= round.end_at %>
</p>
