<div id="round-tool" class="tool zoom-controll hidden hidden-sm hidden-xs">
  <h2 class="caption">お花見レーダー</h2>
  <button class="btn btn-warning zoom-up"><span class="glyphicon glyphicon-plus-sign"></span> <%= I18n.t('rounds.tool.zoom_up') %></button>
  <button class="btn btn-warning zoom-out"><span class="glyphicon glyphicon-minus-sign"></span> <%= I18n.t('rounds.tool.zoom_out') %></button>
  <br><br>
  <button class="btn btn-warning reposition"><span class="glyphicon glyphicon-repeat"></span> <%= I18n.t('rounds.tool.reposition') %></button>
  <button class="btn btn-warning rader-size"><span class="glyphicon glyphicon-th-large"></span> <%= I18n.t('rounds.tool.rader_size') %></button>
</div>
