<%#= link_to relationships_path(followed_id: user.id), method: "post", remote: true do %>
  <button class="btn btn-warning btn-join glyphicon glyphicon-heart">
    <%= I18n.t('rounds.join') %>
  </button>
<%# end %>
