<%= link_to "../paticipate_now/#{round.id}", round_id: round.id, method: "post", remote: false do %>
  <button class="btn btn-warning btn-paticipate glyphicon glyphicon-heart">
    <%= I18n.t('rounds.paticipate') %>
  </button>
<% end %>
