<% if !current_user.guest? %>
  <div id="talk-form" class="row">
    <%= form_for(@talk, remote: true) do |f| %>
      <div class="field col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <%= f.text_area :content, :value => "", placeholder: I18n.t('rounds.show.talk.form.placeholder') %>
        <%= f.hidden_field :round_id, :value =>@round.id %>
      </div>
      <%= f.submit I18n.t('rounds.show.talk.form.submit'), class: "btn btn-talk col-lg-2 col-md-2 col-sm-2 col-xs-2" %>
    <% end %> 
  </div>
<% end %>