<%= link_to wish_paticipation_path(round_id: round.id, type: "Wish"), method: "post", remote: true do %>
  <button class="btn btn-warning btn-paticipate glyphicon glyphicon-heart">
    <%= I18n.t('rounds.paticipate') %>
  </button>
<% end %>
