@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6, p, li {
  line-height: 1;
  color: $maroon;
}

h1 {
  font-size: 1.4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: $dark-orange;
  
  &:hover, &:focus, &:active{
    color: $chocolate;
  }
}
/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

.field {
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 0px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input, textarea, select, .uneditable-input {
    border: 1px solid #f00;
  }
  
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.sidebar-content{
  word-break: break-all;
  white-space: pre-line;
}

.share-buttons{
  list-style: none;
  padding: 0;

  li{
    display: inline;
  }
  
  img{
    width: 15%;
  }
}

@media (max-width: 992px) {
  // スマホ・タブレット共通スタイル
  html{
    overflow-x: hidden;
  }
  body{
    font-size: 1em;
  }
  .container{
    width: 100%;
    padding-left: 15px;
    padding-right: 3px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 3px;
    padding-right: 15px;
  }
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10{
    padding-left: 15px;
    margin-right: -15px;
  }
}

@media (max-width: 768px){
  // スマホ用スタイル
  .navbar-toggle {
    display: none;
  }
  .collapse {
    display: block;
    border-color:transparent;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav {
    margin:0 -15px 0 0;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

@media (min-width: 768px){
  // タブレット用スタイル
}
