// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.round-list-item{
  margin-bottom: 40px;
  background-color: $light-yellow;
  color: $chocolate;
  padding-bottom: 20px;
  line-height: 2em;
  
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  
  .round-image {
    width: 100%;
    padding: 1px;
    
    border: solid 0px #000;
    /* 上のみ角丸 */
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
  }

  .round-title {
    font-size: 1.4em;
    padding: 0px 5px;
  }
    
  .round-start-at {
    font-size: 1.2em;
    padding: 0px 5px;
  }
}

.btn-join, .btn-unjoin, .end-logo{
  width: 100%;
  margin-bottom: 20px;

  font-size: 1.2em;
}

.end-logo {
  color: #eee;
  background-color: #888;
  border-radius: 6px;
  padding: 10px;
}

.round-card {
  background-color: $light-yellow;
  padding: .6em;
  margin-bottom: 15px;
  
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.2);
  
  .caption {
    color: $maroon;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    
    margin: .8em 0 .2em;
    
  }
  
  .content {
    font-size: 1.2em;
  }
}

.tool{
  padding: .6em;
  
  .caption {
    color: $maroon;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    
    margin: .8em 0 .2em;
  }
  
  .btn {
    width: 49%;
    font-size: 1.2em;
  }
  
}


#score-animation {
  .dark-screen {
    position: absolute;
    top: 0px;
    left: 0px;
   
    width: 100%;
   	height: 100vh;
  
    background-color: rgba(0,0,0,.5);
    z-index: 4;
  }
  
  .score-message {
    position: absolute;
    background: url('dragonball_1.png')  no-repeat center center;
    width: 200%;
    height: 50vh;
    top: 25vh;
    left: -50%;
    
    z-index: 5;
    background-color: rgba(0,0,0,.3);

    h1 {
      color: #eee;
      font-size: 12em;
    }
  }
}
